{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Espace membre</h1>


        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-between">
                    <h5>Mes adresses</h5>
                    <a href="{{ path('app_account_adress_form') }}" class="btn btn-light">Ajouter une adresse</a>
                </div>

                {% if app.user.adresses|length == 0 %}
                    <p>Vous n'avez aucune adresses enregistées.</p>
                {% else %}
                    <div class="row">
                        {% for adress in app.user.adresses %}
                            <div class="col-md-4 mt-2">

                                <div class="bg-light p-2 text-center">
                                    {{ adress.firstname }} {{ adress.lastname }} <br>
                                    {{ adress.adress }} {{ adress.postal }}<br>
                                    {{ adress.city }} {{ adress.country }}<br>
                                    {{ adress.phone }}<br>
                                    <a href="{{ path('app_account_adress_form', {id : adress.id}) }}" class="small text-secondary">Editer</a>
                                    <a href="{{ path('app_account_adress_delete', {id: adress.id, '_token': csrf_token('delete_adress' ~ adress.id)}) }}" class="small text-secondary" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse ?');">Supprimer</a>
                                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse ?');">>Supprimer</a>

                                </div>
                            </div>

                        {% endfor %}

                    </div>
                {% endif %}





            </div>
        </div>
    </div>
{% endblock %}