{% extends 'base.html.twig' %}

{% block body %}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('assets/img/fond.jpg') }}" class="bd-placeholder-img w-100" alt="Nouvelle collection">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>La boutique est désormais chez vous</h1>
                    <p>Découvrez les nouvelles tendances et trouvez votre style.</p>
                    <p><a class="btn btn-lg btn-primary" href="">Visitez la boutique</a></p>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container marketing">

    <!-- Trois colonnes présentant des catégories de produits ou des offres -->
    <div class="row text-center">
        <div class="col-lg-4">
            <img src="{{ asset('assets/img/cap/drop.jpg') }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Nouveautés">
            <h2 class="fw-normal">Nouveautés</h2>
            <p>Découvrez les articles les plus récents de notre collection casquettes.</p>
            <p><a class="btn btn-secondary" href="{{ path('app_category', { slug : 'casquettes'}) }}">Voir les nouveautés</a></p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('assets/img/AIRFORCE.png') }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Meilleures ventes">
            <h2 class="fw-normal">Meilleures ventes</h2>
            <p>Explorez nos articles les plus populaires.</p>
            <p><a class="btn btn-secondary" href="">Voir les best-sellers</a></p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('assets/img/montaigne.jpg') }}" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Promotions">
            <h2 class="fw-normal">Promotions</h2>
            <p>Ne manquez pas nos offres spéciales du moment.</p>
            <p><a class="btn btn-secondary" href="">Voir les promotions</a></p>
        </div>
    </div>

    <!-- Section des featurettes pour mettre en avant des produits spécifiques ou des collections -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Nouvelle Collection Printemps <span class="text-body-secondary">à découvrir dès maintenant.</span></h2>
            <p class="lead">Des couleurs fraîches et des styles modernes pour la saison.</p>
            <p><a class="btn btn-primary" href="{{ path('app_category', { slug : 'casquettes'}) }}">Voir la collection</a></p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/cap/DSC_0537.jpg') }}" class="featurette-image img-fluid mx-auto" alt="Collection Printemps">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Accessoires incontournables <span class="text-body-secondary">pour compléter votre look.</span></h2>
            <p class="lead">Sacs, bijoux, et bien plus encore.</p>
            <p><a class="btn btn-primary" href="{{ path('app_category', { slug : 'sacoches'}) }}">Découvrir les accessoires</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/sac/DSC_0360.jpg') }}" class="featurette-image img-fluid mx-auto" alt="Accessoires">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Les essentiels de cette saison <span class="text-body-secondary">à ne pas manquer.</span></h2>
            <p class="lead">Une sélection parfaite pour chaque occasion.</p>
            <p><a class="btn btn-primary" href="">Voir la sélection</a></p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/balance.jpg') }}" class="featurette-image img-fluid mx-auto" alt="Essentiels de la saison">
        </div>
    </div>

    <hr class="featurette-divider">


 {% endblock %}
